//Primary-colors
$primary1: hsl(61, 70%, 52%); /* Lime */
$primary2: hsl(4, 69%, 50%); /* Red */

//Neutral-colors
$neutral1: hsl(0, 0%, 100%); /* White  */
$neutral2: hsl(202, 86%, 94%); /* Slate 100  */
$neutral3: hsl(203, 41%, 72%); /* Slate 300 */
$neutral4: hsl(200, 26%, 54%); /* Slate 500  */
$neutral5: hsl(200, 24%, 40%); /* Slate 700  */
$neutral6: hsl(202, 55%, 16%); /* Slate 900  */
